.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 242, 242);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.header-title-container {
    display: inline-block;
    text-align: center;
    margin-top:10px;

}

.modal-header {
    flex: 20%;
    flex-direction: column;
}

.header-btn-container {
    /* display: flex;
    justify-content: flex-end; */
    align-self: end;
    margin-right: 20px;
}

.x-btn {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;

}

.modal-body{
    display: flex;
   flex: 50%;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
   text-align: center;
   flex-direction: column;
   flex-wrap: wrap;
}

.modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.cancel-btn {
    background-color: crimson !important;
}