.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 242, 242);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.header-title-container {
    display: inline-block;
    text-align: center;
    margin-top:10px;

}

.header-btn-container {
    display: flex;
    justify-content: flex-end;
}

.x-btn {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;

}