.profile-section {
    min-height: 80vh;
    }
    
    .profile-colection-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .profile-colection-title {
        margin: 30px auto;
    }
    
    .profile-nodata-article-img {
        border: 1px solid gray;
        border-radius: 8px;
        padding: 20px;
        margin: 20px;
        background: white;
        box-shadow: 1px 1px 3px 1px grey;
    }
    
    .profile-nodata-img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 1px 1px 3px 1px grey;
    
    
    }