.notification {
    position: absolute;
    top: 100px;
    right:50px;
    /* left: 50%; */
    /* border: none; */
    /* transform: translate(-50%, 0); */
    overflow: hidden;
}

/* .bg-danger {
overflow: hidden;
} */